@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: pp;
    src: url(C:\Users\vishv\OneDrive\Anime_app\src\fonts\PPNeueMontreal-Regular.fba5ef87.ttf);
}


@font-face {
    font-family: pp1;
    src: url(C:\Users\vishv\OneDrive\Anime_app\src\fonts\PPNeueMontreal-Bold.c50eb408.ttf);
}
.ham{
    height: 100vh;
    width: 100vw;
    background-color: rgb(106, 48, 48);

}

@font-face {
    font-family: Angton4;
    src: url(C:\Users\vishv\OneDrive\Anime_app\src\fonts\h5.ttf);
}